body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
}

code {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Cormorant Garamond', serif;
}

h4 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-family: 'Cormorant Garamond';
}

li {
  font-family: 'Open Sans';
  font-size: 0.9rem;
  list-style: none;
  line-height: 1.6;
}

p {
  font-family: 'Open Sans';
  font-size: 0.9rem;
}
